In [50]:
import pandas as pd
import dask.dataframe as dd
from dask.diagnostics import ProgressBar

In [51]:
ddf_result = dd.read_parquet("underground_202212_v_or_not")
len(ddf_result)

203553

In [52]:
ddf_result.columns

Index(['대지_위치', '도로명_대지_위치', '건물_명', '시군구_코드', '법정동_코드', '대지_구분_코드', '번', '지',
       '특수지_명', '블록', '로트', '외필지_수', '새주소_도로_코드', '새주소_법정동_코드', '새주소_지상지하_코드',
       '새주소_본_번', '새주소_부_번', '동_명', '구조_코드', '구조_코드_명', '기타_구조', '주_용도_코드',
       '주_용도_코드_명', '기타_용도', '세대_수(세대)', '가구_수(가구)', '높이(m)', '지상_층_수',
       '지하_층_수', '사용승인_일', '호_수(호)', '생성_일자'],
      dtype='object')

In [58]:
result = ddf_result.사용승인_일.str[:4].value_counts().compute().sort_index()
result = result[(result.index >= "1962") & (result.index <= "2022")]

with pd.option_context("display.max_rows", 200, "display.max_columns", 100):
    display(result)

1962        5
1963        3
1964        2
1965        8
1966        9
1967       20
1968       31
1969       40
1970       73
1971       86
1972       68
1973      113
1974      217
1975      303
1976      555
1977      882
1978     1492
1979     1406
1980     1337
1981     1090
1982     1072
1983     1456
1984     1319
1985     1442
1986     5812
1987     3670
1988     5016
1989     6229
1990    14240
1991    24146
1992    16014
1993    23772
1994    16475
1995    11659
1996    12384
1997    10724
1998     3523
1999     1533
2000     3236
2001     5900
2002     6478
2003     2510
2004     1082
2005      418
2006     1226
2007     1122
2008      611
2009      562
2010      819
2011      837
2012      874
2013      601
2014      758
2015      871
2016     1328
2017     1774
2018     1451
2019      902
2020      604
2021      462
2022      369
Name: 사용승인_일, dtype: Int64

In [59]:
result.to_csv("output/uground_v_or_not_by_year.csv", encoding="utf_8_sig")